<div id="chatModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modalTitle" class="modal-title">Chat</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="left" class="col-mid-4">
                            
                        </div>
                        <div id="right" class="col-mid-8">
                            <div id="right-top" class="col-mid-8">
                                <p id="pUserName"></p>
                            </div>
                            <div id="right-content" class="col-mid-8">
                                <ul id="listMessages">
                                </ul>
                            </div>
                            <div id="right-footer"  class="col-md-offset-4">
                                <textarea id="txtMsg" rows="5" cols="50">
                                </textarea>
                                <input type="button" value="Send" id="btnSend" />Send</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->